html{
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
}

.offscreen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.light {
  opacity: .5;
}

.small {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

img { 
  width: 40%;
  float: left;
  margin-right: 5px;
  border-radius: 5px;
}

a, tei-ref span a, .ui-widget-content a {
  /* color: #ff4800 */
  /* color: rgb(207, 97, 53); */
  color: tomato;
}

select {
  font-size: 10pt;
}

hr {
  border: .5px solid gray;
}

/*Navigation*/
#navbar {
  background-color:#343a40;
  position: fixed;
  top: 0;

  padding: 20px;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 5px 0 black;
  display: flex;
}

#navbar a { 
  text-decoration: none;
  color:whitesmoke;
}

#nav-brand  {
  font-size: large;
}

#nav-items {
  font-size: medium;
  display: flex;
  justify-items: flex-end;
}

.nav-item {
  margin: 0 10px 0 10px;
  color: lightgray;
}

.nav-item:hover {
  cursor: pointer;
  color: white;
}

#nav-items .active {
  color: white;
}

.nav-item.active {
  /* border-bottom: 2px solid lightsalmon; */
  border-bottom: 2px solid tomato;
}

/*Main*/
#main {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Page*/
#page {
  
  padding: 20px;
  line-height: 1.5em;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

/*Text*/
#text.hidden {
  visibility: hidden;
}


/*Text Header*/
#text-header {
  padding: 10px 15px 0 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  top: 70px;
  height: 30px;
  left: 0;
  width: calc(100% - 20px);
}

/*Text Menu*/
#text-menu button {
  margin-left: .25rem;;
}

.dropdown-item[class='active'] {
  background-color: tomato;
}

/*VIEW OPTIONS*/
#parallel-toggle i,
#tools-toggle i {
  margin-right: .5rem;
}

#parallel-toggle:hover,
#tools-toggle:hover {
  cursor: pointer;
}


/*Text Content*/
#text-content {
  position: fixed;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  display:flex;
  align-items: stretch;
  flex-direction: row;
}

/*Panels*/
.panel-md, .panel-sm, .panel-lg {
  padding: 0 10px 10px 10px;
  height: calc(100% - 10px);
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid lightgray;
}

.panel-sm {
  flex: .5 0 200px;
}

.panel-md {
  flex: 2 0 200px;
}

.panel-lg {
  flex: 3 1 250px;
}

.panel .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  color: #343a40;
  position: sticky;
  top: 0;
  padding-top: 10px;
  background-color: white;
  /* z-index: 100; */
}

.panel .close:hover {
  cursor:pointer; 
}

.panel .help {
  padding-left: 10px;
}

.panel .help:hover{
  cursor:pointer;
}

.help-content {
  display: none;
  font-size: 10pt;
  padding-top: 0.5em;
  padding-bottom: 1em;
  line-height: 1.2em;
  position: sticky;
  top: 28px;
  /* z-index: 60; */
  background-color: white;
  border-radius: 0 0 15px 15px;
}

/*Interp Panel*/

.interp:hover{
  cursor: pointer;
}

#interp-header {
  color: white;
  background-color: teal;
  left: 0;
 
  font-weight: normal;
  border-radius: 0 0 15px 15px;
  margin-left: .5em;
  margin-right: .5em;
  padding: 5px 1em 5px 1em;

  justify-content: flex-start;
  align-items: flex-start;
}

#view-options {
  font-size: small;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.accordion:hover {
  cursor: pointer;
}

.badge {
  background-color: gray;
  padding: 2px 5px 2px 5px;
  border-radius: 10px;
  font-size: x-small;
  color: white;
  margin-right: 1em;
}

.interp-group {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.interp-group p {
  margin: .5em 0 .5em 0;
}

.ok, #clear-formatting, .choose-formatting {
  cursor: pointer;
  text-decoration: underline;
  font-size: 10pt;
}

#clear-formatting, .choose-formatting {
  margin-top: 1em;
}

.outline-link {
  margin-bottom: 1rem;
  
}

#outlineHtml {
  display:block;

}

#tools-toggle-label {
  background: none repeat scroll 0 0 teal;
  border: medium none;
  color: white;
  margin-left: -2px;
  left: 0;
  position: fixed;
  top: 130px;
  width: 10px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* z-index: 999; */
  border-radius: 0 15px 15px 0;
  padding: 1em .25em 1em 10px;

}
#tools-toggle {
  /* z-index: 999; */
}

#close-tools {
  margin-right: .5em;
}

#open-tools:hover {
 cursor: pointer;
}


/*TEI*/
#TEI, #parallel, #outline {
  padding: 10px 50px 10px 50px;
  width: calc(100% - 100px);
  background-color:  white;
  position: relative;
  font-size: 110%;
  font-family:'Times New Roman', Times, serif;
}

#TEI a {
  font-family: Helvetica;
  font-size: 80%;
}

#parallel {
  line-height: 1.5;
  padding: 0px 30px 10px 30px;
}

tei-anchor:hover{
  cursor: pointer;
  /* color: lightsalmon; */
  color: tomato
}

tei-persname:hover, tei-placename:hover{
  cursor: pointer;
  text-decoration: underline;
}

tei-back {
  display:none;
}

tei-div.active, #outlineHtml p.active {
  background-color: LightYellow;
}

.chapter-view tei-TEI tei-label {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-size: 150%;
  margin-top: .5rem;
}

.chiastic-view tei-head, .section-view tei-head {
  display: none;
}

.chiastic-view tei-div[type="section"][corresp]:before { 
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-size: 150%;
  margin-top: .5rem;
  content: attr(display); 
}

.chiastic-view tei-div[type="section"][corresp]  {
  display: block;
}

.chiastic-view tei-div[type="section"][corresp] tei-div[type="section"][corresp]:before { 
  font-size: 150%;
}

.chiastic-view tei-div[type="section"][corresp] tei-div[type="section"][corresp] {
  margin-left: 1rem;
}

.chiastic-view tei-TEI tei-label, #parallel.chiastic-view tei-label,
.section-view tei-TEI tei-label, #parallel.section-view tei-label {
  font-style: italic;
  display: block;
  margin-top: 1rem;
}

#parallelHtml #parallelLink {
  display: block;
  font-family: Arvo, sans-serif;
  font-weight: normal;
  font-size: 120%;
  margin-top: .5rem;
}

/*** SECTION TITLES ***/

.chapter-view .sectionTitle,
.chiastic-view .sectionTitle {
  display: none;
}

.chiastic-view .sectionTitle[level='0'] {
  display: unset;
}

.sectionTitle {
  display: block;
  font-family: Arvo, sans-serif;
  margin-top: 1rem;
}

.sectionTitle[level='0'] {
  font-size: 180%;
}

.sectionTitle[level='1'] {
  font-size: 150%;
  font-weight: normal;
}

.sectionTitle[level='2'] {
  font-size: 125%;
  font-weight: normal;
}

.sectionTitle[level='3'] {
  font-weight: bold;
  font-size: 100%;
}


/*MODAL*/
.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}
#noteModal .modal-content {
  /* border-style: solid;
  border-width: thin; */
  /* border-color: lightsalmon; */
  box-shadow: 5px 5px 5px lightgray;
}

.modal-body {
  font-family: Arial, Helvetica, sans-serif
}

.modal-dialog {
  top:100px;
}

#noteModal hr {
  /* background-color: lightsalmon; */
  background-color: tomato;
  height: .5px;
  border: none;
}

/*Documentary Sources*/
.show-yahwist, .yahwist {
  color: #00758F;
}
.show-priestly, .priestly {
  color: #E15D44;
}

.yahwist, .priestly {
  font-size: small;
}

/*Bibliography*/
.citation {
  padding-left: 22px ;
  text-indent: -22px ;
}

/*OUTLINE*/
.outline-level-2 {
  padding-left: 1rem;
}
.outline-level-3 {
  padding-left: 2rem;
}
.outline-level-4 {
  padding-left: 3rem;
}
.outline-level-5 {
  padding-left: 4rem;
}
.outline-level-6 {
  padding-left: 5rem;
}
.outline-level-7 {
  padding-left: 6rem;
}
.outline-level-8 {
  padding-left: 7rem;
}
.outline-level-9 {
  padding-left: 8rem;
}
.outline-level-10 {
  padding-left: 9rem;
}
.outline-level-11 {
  padding-left: 10rem;
}
.outline-level-12 {
  padding-left: 11rem;
}
.outline-level-13 {
  padding-left: 12rem;
}
.outline-level-14 {
  margin-left: 13rem;
}


/*Media Queries*/
@media screen and (max-width:650px) {
  #text-content {
     flex-direction: column;
  }
  #nav-items {
    font-size: small;
  }

  .nav-item {
    margin-left: 0;
    margin-right: 5;
  }
  
  .panel-sm, .panel-md, .panel-lg {
      width:  calc(100% - 20px);
      flex: auto;         
      border-top: 2px solid lightgray; 
  }
  
  #TEI, #parallel, #outline {
    padding: 10px 20px 10px 20px;
    width: 100%;
  }

  #text-header {
    margin: 10px; 
    height: 30px;
  }

  .menu-text {
    display:none;
  }

}

@media screen and (max-width: 500px) {
  #TEI, #parallel, #outline {
    margin-bottom: 0;    
  }

  #text-menu button {
    font-size: small;
    line-height: 1.5em;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #parallel-toggle {
    font-size: small;
  }

  .popover {
    max-width: 400px;
  }
  

}
